/* #aboutme {
  animation: pulse 3s ease-in-out 1 forwards;
  opacity: 0;
}

#projects,
#projectname {
  animation: pulse 3s 3s ease-in-out 1 forwards;
  opacity: 0;
}

@keyframes pulse {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} */
